div{
    padding:30px;
    background-color:aqua;
    top:25px;
    left:25px;
    bottom:25px;
    right:25px;
    position: absolute;
    text-align: justify;
}

#content{
    background-color:darkblue;
    height:250px;
    width:400px;
    position:relative;

}